@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HttpClient Http 

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorWebApp</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        @if (ShowLink)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="create-admin">
                    <i class="fas fa-user"></i>
                    <span class="mr-3"  aria-hidden="true"></span>Create Admin
                </NavLink>
            </li>
        }
        @if (AdminView)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="check">
                    <i class="fas fa-user"></i>
                    <span class="mr-3"   aria-hidden="true"></span>Create Customer
                </NavLink>
            </li>
        }
        @if (CaseView)
        {
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="create-case">
                    <i class="fas fa-archive"></i>
                    <span class="mr-3"   aria-hidden="true"></span>Create Case
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="get-cases">
                    <i class="fas fa-archive"></i>
                    <span  class="mr-3"  aria-hidden="true"></span>Get Cases
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="specfic-case">
                    <i class="fas fa-search"></i>
                    <div class="mr-3"   aria-hidden="true"></div>Get specfic case
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="update-case">
                    <i class="fas fa-pen"></i>
                    <span class="mr-3"  aria-hidden="true"></span>Update Case
                </NavLink>
            </li>
        }

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private IEnumerable<CustomerModel> customers;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public bool ShowLink { get; set; } = true;

    public bool AdminView { get; set; } = false;

    public bool CaseView { get; set; } = false;


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        await TokenExistAsync();

    }

    private async Task TokenExistAsync()
    {

        var token = await sessionStorage.GetItemAsync<string>("AccessToken");
        @if (token != null)
        {
            ShowLink = false;
            AdminView = true;
            await CheckIfCustomersExist();
        }
    }

    private async Task CheckIfCustomersExist()
    {
        customers = await Http.GetFromJsonAsync<IEnumerable<CustomerModel>>("https://localhost:44384/api/Customers");
        @if(customers != null)
        {
            CaseView = true;
        }
    }

}
