@page "/"


<h1 class="headline">Welcome to the CaseManager!</h1>




@code{
    private bool AdminView { get; set; } = true;

    protected override async Task OnInitializedAsync()
    {
        await TokenExistAsync();

    }

    private async Task TokenExistAsync()
    {

        var token = await sessionStorage.GetItemAsync<string>("AccessToken");
        @if (token != null)
        {
    
            AdminView = true;
        }
    }

}