@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Roboto&display=swap');
.navbar {
    background-color: #34568b;
    /* background-color: #8693e9; */
    /* background-color: rgba(40, 226, 96, 0.644); */
    font-weight: 600;
    font-size: 18px;
    color:white;
}

.navbar-brand {
    color: white !important;
    font-size:24px;
}



tbody, td, tfoot, th, thead, tr {
    border-width: 2px;
}


.nav-link {
    color: white !important;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom: none !important;
    border-bottom-color: none !important;
}

/*html body {
       background-color: rgba(42, 10, 71, 0.644); 
}
*/

html body {
    background-color: rgba(155, 145, 204, 0.644);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(66, 68, 211, 0.507);
    border-radius: 1px;
}
.customer-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.selectblock {
    padding: 6px 6px;
    border-radius: 5px;
}

table tr {
    background-color: rgba(249, 249, 250, 0.753);
    font-family: 'Roboto', sans-serif;
}

.headline {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
    margin-bottom: 20px;
}


.createheadline {
    font-family: 'Quattrocento', serif;
    font-weight: 700;
}

.text-label{
    font-weight:700;
}
